<section class="bg-[#101e2b] flex justify-center text-white">
  <div class="container w-[85%] py-10">
    <div
      class="grid place-items-center text-center sm:text-start gap-10 grid-cols-1 sm:grid-cols-3"
    >
      <div class="flex justify-center items-center flex-col sm:items-start">
        <div class="w-37.5">
          <img src="/imgs/taskflow-logo-white.png" class="w-full" alt="Taskflow Logo" />
        </div>
        <p>Simplify your team's workflow, manage projects,<br />and get tasks done efficiently.</p>
      </div>
      <div>
        <h2>Quick Links</h2>
        <ul>
          <li><a routerLink="/about">About Us</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/contact">Contact</a></li>
          <li><a routerLink="/privacy">Privacy Policy</a></li>
        </ul>
      </div>
      <div>
        <h2>Resources</h2>
        <ul>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/documentation">Documentation</a></li>
          <li><a routerLink="/support">Support</a></li>
        </ul>
      </div>
    </div>
    <div
      class="flex flex-wrap justify-center sm:justify-between gap-5 items-center text-center sm:text-left mt-10 border-t border-gray-600 pt-5"
    >
      <div>
        <p>© 2026 TaskFlow. All rights reserved.</p>
      </div>
      <div class="flex justify-between text-gray-400 items-center">
        <i class="fa-brands fa-youtube text-xl"></i>
        <i class="fa-brands fa-square-instagram text-xl"></i>
        <i class="fa-brands fa-facebook text-xl"></i>
      </div>
    </div>
  </div>
</section>
