<div class="bg-[#fbfdfc] px-4 py-3 border-b-2 border-[#e7eef3]">
  <a routerLink="/dashboard" class="text-[#615d5f] cursor-pointer text-lg font-normal">
    Dashboard / <span class="text-[#a0a7ad]">Overview</span>
  </a>
</div>
<div class="p-4">
  <div class="flex items-center gap-3 flex-wrap text-center sm:text-left justify-between">
    <div>
      <h1 class="text-4xl text-[#2c2d34] font-extrabold">Welcome Back, Yousef!</h1>
      <div class="flex items-center gap-5 flex-wrap mt-3">
        <div class="border-[#ecedef] border bg-white rounded-lg py-3 w-48 h-24 px-5">
          <h3 class="text-lg">Total Projects</h3>
          <div class="flex items-center gap-2 text-2xl font-bold text-[#2c2d34]">
            8
            <div class="flex items-center gap-2 px-3 py-2 bg-green-50 rounded-lg">
              <svg class="w-10 h-7 text-green-700/80 opacity-70" viewBox="0 0 64 32" fill="none">
                <path
                  d="M2 25 L12 20 L20 22 L30 12 L38 16 L48 7 L58 10"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>

              <span class="text-green-700/80 text-sm font-medium"> w trend </span>
            </div>
          </div>
        </div>
        <div class="border-[#ecedef] border bg-white rounded-lg py-3 w-48 h-24 px-5">
          <h3 class="text-lg">Open Tasks</h3>
          <div class="flex items-center gap-2 text-2xl font-bold text-[#2c2d34]">28</div>
        </div>
        <div class="border-[#ecedef] border bg-white rounded-lg py-3 w-48 h-24 px-5">
          <h3 class="text-lg">Due Today</h3>
          <div class="flex items-center gap-2 text-2xl font-bold text-[#2c2d34]">4</div>
        </div>
        <div class="border-[#ecedef] border bg-white rounded-lg py-3 w-48 h-24 px-5">
          <h3 class="text-lg">Completed Tasks</h3>
          <div class="flex items-center gap-2 text-2xl font-bold text-[#2c2d34]">115</div>
        </div>
      </div>
    </div>
    <div class="border-[#ecedef] flex flex-col gap-2 border flex-1 bg-white rounded-lg py-3 px-5">
      <h3 class="text-[#292a2d]">Quick Actions</h3>
      <a
        routerLink="/projectsform"
        class="bg-[#142030] text-white rounded-md border hover:text-[#212123] transition duration-500 hover:bg-white hover:border-[#eeeeee] border-[#0d151e] cursor-pointer text-md font-normal py-1 px-10"
      >
        New Project
      </a>
      <a
        routerLink="/tasksform"
        class="text-[#212123] bg-white rounded-md border border-[#eeeeee] transition duration-500 hover:text-white hover:bg-[#142030] hover:border-[#212123] cursor-pointer text-md font-normal py-1 px-10"
      >
        New Tasks
      </a>
    </div>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 py-4">
    <div class="border-[#ecedef] border w-full bg-white rounded-lg flex flex-col gap-2 py-3 px-5">
      <h2 class="mb-2">Recent Projects</h2>
      @for (project of projects; track $index) {
        <app-project-card [project]="project"></app-project-card>
      }
    </div>
    <div
      class="lg:col-span-2 border-[#ecedef] border w-full bg-white rounded-lg flex flex-col gap-2 py-3 px-5"
    >
      <h2 class="mb-2">Recent Tasks</h2>
      <div class="w-full overflow-x-auto">
        <table class="w-full min-w-175 table-fixed">
          <thead class="bg-[#f6f7f9] text-[#615d5f]">
            <tr>
              <th class="text-left px-3 py-3 text-sm font-semibold w-[35%]">Task</th>
              <th class="text-left px-3 py-3 text-sm font-semibold w-[20%]">Project</th>
              <th class="text-left px-3 py-3 text-sm font-semibold w-[13%]">Priority</th>
              <th class="text-left px-3 py-3 text-sm font-semibold w-[14%]">Due Date</th>
              <th class="text-left px-3 py-3 text-sm font-semibold w-[18%]">Status</th>
            </tr>
          </thead>
          <tbody>
            @for (task of tasks; track $index) {
              <tr app-task-card [task]="task" class="border-b border-[#ecedef]"></tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
