<header>
  <div
    class="bg-white flex items-center flex-wrap gap-3 justify-between px-4 py-3 border-b border-[#e7eef3]"
  >
    <form class="min-w-96">
      <label for="search" class="block mb-2.5 text-sm font-medium text-heading sr-only"
        >Search</label
      >
      <div class="relative">
        <div class="absolute inset-y-0 inset-s-0 flex items-center ps-3 pointer-events-none">
          <svg
            class="w-5 h-5 text-[#a0a7ad]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="2"
              d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"
            />
          </svg>
        </div>
        <input
          type="search"
          id="search"
          class="block w-full p-3 ps-9 bg-[#edf1f4] border border-default-medium text-[#a0a7ad] text-sm rounded-base focus:ring-[#e7eef3] focus:border-[#e7eef3] shadow-xs placeholder:text-[#a0a7ad]"
          placeholder="Global, Search..."
          required
        />
      </div>
    </form>
    <div class="flex items-center gap-4">
      <a href="#"><i class="fa-regular fa-bell text-[#615d5f] text-[22px]"></i></a>
      <a href="#"><i class="fa-regular fa-circle-question text-[#615d5f] text-[22px]"></i></a>
      <div class="flex items-center gap-2">
        <h4 class="capitalize text-xl text-[#615d5f]">yousef</h4>
        <img src="/imgs/avatar.jpg" alt="Profile Image" class="w-8 h-8 rounded-full" />
        <i class="fa-solid fa-chevron-down text-[#615d5f] text-sm"></i>
      </div>
    </div>
  </div>
</header>
